body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px;
    background: linear-gradient(to bottom right, #3498db, #8e44ad);
}

.container {
    text-align: center;
    width: 90%;
    max-width: 900px; 
    margin-top: 50px;
    background-color: rgb(255, 255, 255); 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); 
}



form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr, td {
    width: 50%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}
.volver-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #97209b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    z-index: 1000;
}

h1{
   color: #97209b;
}

.volver-btn:hover{
    background-color: #b75abb;
}

#form button[type="submit"] {
    background-color: #97209b; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

#form button[type="submit"]:hover {
    background-color:  #b75abb;
}

.volver-inicio-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #97209b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    z-index: 1000;
}

.volver-inicio-btn:hover {
    background-color: #b75abb;
}