
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/collagedogs.png);
    background-size: cover;
    border: 1px solid #aa1414;
}

#contenedor{

    width: 100%;
    max-width:650px;
    background-color:  #ffc7a19e;
    padding: 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px rgba(138, 94, 10, 0.958)
}